---
layout: default
---

<!-- HEADER -->
<header>
  <h1>Nina Kunz</h1>
  <nav>
    <h5>
      <a href="#buch">Buch</a>
      <a href="#texte">Texte</a>
      <a href="#termine">Termine</a>
      <a href="#auftritte">Auftritte</a>
      <a href="#moderation">Moderation</a>
      <a href="#lesungen">Lesungen</a>
      <a href="#kontakt">Kontakt</a>
    </h5>
  </nav>
</header>

<!-- BUCH -->
<section>
  <a href="{{ site.data.buch.link }}">
    <img class="phone cover" src="{{ site.data.buch.bild }}">
  </a>
  <p>
    <a href="{{ site.data.buch.link }}">{{ site.data.buch.titel }}</a><br>
    {{ site.data.buch.verlag }}<br>
    {%- for ausgabe in site.data.buch.ausgaben %}
    {{ ausgabe.format }}, {{ ausgabe.jahr }}, {{ ausgabe.seiten }} Seiten<br>
    ISBN {{ ausgabe.isbn }}<br>
    {%- endfor %}
  </p>
</section>

<!-- TEXTE -->
<section>
  <h3 id="texte">Texte von mir</h3>
  {% include linklist.html items=site.data.texte %}
</section>

<!-- TERMINE -->
<section>
  <h3 id="termine">Termine</h3>
  <p><a href="{{ site.data.termine.link }}">{{ site.data.termine.text }}</a></p>
</section>

<!-- AUFTRITTE -->
<section>
  <h3 id="auftritte">Auftritte</h3>
  {% include eventlist.html items=site.data.auftritte %}
</section>

<!-- MODERATION -->
<section>
  <h3 id="moderation">Moderation</h3>
  {% include eventlist.html items=site.data.moderation.eintraege %}
  {% include photos.html photos=site.data.moderation.fotos %}
</section>

<!-- LESUNGEN -->
<section>
  <h3 id="lesungen">Lesungen (Auswahl)</h3>
  {% include eventlist.html items=site.data.lesungen.eintraege %}
  {% include photos.html photos=site.data.lesungen.fotos %}
</section>

<!-- BIOGRAPHIE -->
<section>
  <h3 id="bio">Biographie</h3>
  <div class="eight columns offset-by-two">
    <p>{{ site.data.bio.text }}</p>
    {% include photo.html foto=site.data.bio.foto %}
  </div>
</section>

<!-- KONTAKT -->
<section>
  <h3 id="kontakt">Kontakt</h3>
  {% include linklist.html items=site.data.kontakt %}
</section>
